.card {
    padding: 0.8rem;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.25);
}

.card__image {
    margin-block-end: 0.8rem;
}

.card__imageCaption {
    font-size: 1.6rem;
    margin-block-end: 0.8rem;
}

.card__emphasis {
    font-weight: bold;
    font-size: 2rem;
}