.detailsCard {
    padding: 0.8rem;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.25);
}

.detailsCard__image {
    margin-block-end: 0.8rem;
}

.detailsCard__imageCaption {
    font-size: 1.6rem;
    margin-block-end: 0.8rem;
}

.detailsCard__emphasis {
    font-weight: bold;
    font-size: 2rem;
}

.detailsCard__descriptionWrapper {
   display: grid;
   grid-gap: 1rem;
   grid-template-areas: 
            "a b"
            "c d"
            "e f"
}

.detailsCard__manufacturer,
.detailsCard__color,
.detailsCard__edition {
    font-size: 1.6rem
}